<%= form_for(@preference) do |f| %>
  <% if @preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% @preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :authorize_receive_email %><br />
    <%= f.check_box :authorize_receive_email %>
  </div>
  <div class="field">
    <%= f.label :authorize_receive_warning %><br />
    <%= f.check_box :authorize_receive_warning %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
